/* Ny font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Styling HTML-document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
}

/* Header design */
header h1 {
  position: relative;
  background-color: rgb(55, 67, 34);
  margin-bottom: 20px;
  color: rgb(131, 131, 131);
}

/* Body design */
body {
  background-color: rgb(55, 67, 34);
  min-height: 100vh;
}

/* Playlist design */
#playlist,
#userText {
  color: #fff;
  border-radius: 10px;
  pointer-events: all;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}
/* Playlist text design */
#userText {
  background: rgba(222, 222, 222, 0.2);
}

/* Input design */
#enterArtist,
#enterSong,
#enterAlbum,
#enterGenre {
  color: #fff;
  background: rgba(222, 222, 222, 0.2);
  border-radius: 10px;
  pointer-events: all;
  padding: 5px;
  font-size: 20px;
  margin-top: 5px;
  border: none;
}

/* Input hover design */
#enterArtist:hover,
#enterSong:hover,
#enterAlbum:hover,
#enterGenre:hover {
  background-color: black;
  transition: 0.5s ease-in-out;
}

/* Button design */
button {
  color: #fff;
  background: rgba(222, 222, 222, 0.2);
  font-size: 20px;
  border-radius: 10px;
  padding: 2px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* Button hover design */
button:hover {
  background-color: black;
  transition: 0.5s ease-in-out;
}
/* Button click design */
button:active {
  color: black;
  transition-delay: none;
}
/* Output design */
#output {
  margin-top: 1rem;
  font-size: larger;
}

#output1 {
  min-height: 57vh;
}

.hidden {
  visibility: hidden;
}

.playlist-container {
  max-width: 800px;
  margin: 2rem auto 0 auto;
}

.playlist-headers,
.item {
  display: flex;
  align-items: center;
}

.playlist-items > div:nth-child(odd) {
  display: flex;
  align-items: center;
}
.playlist-items > div:nth-child(even) {
  display: flex;
  align-items: center;
}

.playlist-headers {
  background-color: rgb(34, 39, 21);
  color: rgb(182, 180, 180);
}

.playlist-items > div:nth-child(odd) {
  background-color: rgb(84, 95, 56);
}

.artist-display,
.song-display,
.album-display,
.genre-display {
  text-align: left;
  padding: 0.4rem 2% 0.4rem 2%;
}

p,
i {
  color: #fff;
  opacity: 0.5;
}

i {
  padding: 1rem;
  cursor: pointer;
}

i:hover {
  background-color: rgba(222, 222, 222, 0.2);
  opacity: 0.5;
  border-radius: 10px;
}

i:active {
  color: black;
  background-color: rgba(222, 222, 222, 0.1);
  opacity: 0.5;
}

.artist-display {
  width: 22.5%;
}

.song-display {
  width: 25%;
}

.album-display {
  width: 25%;
}

.genre-display {
  width: 30%;
}

.playlist-headers {
  margin-bottom: 1rem;
}

#artist-header {
  width: 20%;
}

#song-header {
  width: 21%;
}

#album-header {
  width: 20%;
}

#genre-header {
  width: 25%;
}

#artist-header:hover,
#song-header:hover,
#album-header:hover,
#genre-header:hover {
  background-color: rgb(19, 22, 12);
  cursor: pointer;
}

footer {
  margin-top: 2rem;
  display: block;
  width: 100%;
}
